* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

/* navbar starts */
.nav-container {
    background: #562EFF;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0 10px;
}

.nav-left,
.nav-right-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0 10px;
    padding-top: 5px;
}

.nav-left img {
    width: 40.42px;
    height: 51px;
}

.idea {
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}

.nav-right-flex img {
    width: 51px;
    height: 51px;
}

.nav-tittle {
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

/* main part */
/* players part */
.top-player-title{
    margin: 10px 0;
    color:  #562EFF;
}
.top-players {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 24px 10px;
    width: 75%;
    padding-top: 30px;


}

.player {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px 10px;

}

.player img {
    width: 56px;
    height: 56px;
}

/* blogs part */
.blog-conatiner{
    display: flex;
    justify-content: center;
}
.top-blog {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-blog h1{
    margin:15px 0px;
    color:  #562EFF;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    grid-gap: 39px;
    width: 73%;

}

.blog {
    display: flex;
    align-items: center;
    gap: 20px;
}

.blog img {
    width: 177px;
    height: 117px;
    /* object-fit: scale-down; */
    /* object-position: left; */
}


/* use media query */
/* navbar part */
@media only screen and (max-width:767px) {

    .nav-container,
    .nav-right-flex {
        display: flex;
        flex-direction: column;
        height: 16%;
        gap: 8px;
        justify-content: center;
        gap: 8px;

    }

    .nav-right-flex img {
        margin-bottom: 6px;
    }
}